// SECRET: Npmrc Credentials Exposure
// (?i)_auth\s*=\s*[A-Za-z0-9+/=]{12,}
_auth = dXNlcm5hbWU6cGFzc3dvcmQ


// SECRET: Npmrc Credentials Exposure
// (?i)_authToken\s*=\s*[a-zA-Z0-9-]{16,}
_authToken=2b984d88-7c23-49d6-8a61-1234567890ab
